* text=auto eol=lf

*.sh text eol=lf
gradlew text eol=lf
module.prop text eol=lf
system/bin/a11yctl text eol=lf
META-INF/com/google/android/update-binary text eol=lf
META-INF/com/google/android/updater-script text eol=lf

*.bat text eol=crlf
*.jar binary
*.apk binary
*.zip binary
